<h1>Login:</h1>

<form action="/api/sessions/login" method="POST">
    Email: <input type="email" name="email">
    Contrase単a: <input type="password" name="password">
    <input type="submit" value="Ingresar"> 
</form>

<button onclick="location.href='/api/sessions/auth/google'">Google</button>

<button id="resetPassBtn">多Olvidaste tu contrase単a?</button>
<form id="resetPassForm" action="/api/users/resetpassword" method="POST" style="display:none;">
    <p>Enviaremos un mail a tu casilla de correo para reestablecer tu contrase単a</p>
    Ingresar email: <input type="email" name="email">
    <input type="submit" value="Enviar mail">
</form>

<script src="/js/login.js"></script>
