<h1>Reestablecimiento de contraseña</h1>

<form action="http://localhost:8080/api/users/newpassword/{{email}}" method="POST">
Ingrese su nueva contraseña: <input type="password" name="password">
<input type="submit" value="Modificar contraseña">

</form>
