<h1>Reestablecimiento de contraseña</h1>

<form action="/api/users/newpassword/{{token}}" method="POST">
Ingrese su nueva contraseña: <input type="password" name="password">
<input type="submit" value="Modificar contraseña">

</form>
